@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --default-bg-color: #222;
    --hungarian-flag-red: #f00;
    --hungarian-flag-white: #fff;
    --hungarian-flag-green: #0f0;
    --default-border-color: rgb(150,150,150);
    --default-box-bg-color: rgba(236,236,236,.75);
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--default-bg-color);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flag {
    display:flex;
    flex-direction: column;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.stripe {
    height: 20px;
}

.stripe--red {
    background-color: var(--hungarian-flag-red);
}

.stripe--white {
    background-color: var(--hungarian-flag-white);
}

.stripe--green {
    background-color: var(--hungarian-flag-green);
}
